<tbody>
  <tr>
    <td><%= dish.name %></td>
    <td><%= dish.price %></td>
    <td><%= dish.description %></td>
    <td><%= form_for @cart_item, remote: true do |form| %>
    	<div class = 'field'>
    	  <%= form.hidden_field :name, value: dish.name %>
    	  <%= form.hidden_field :price, value: dish.price %>
    	  <%= form.hidden_field :cart_id, value: current_cart.id %>
    	  <%= form.number_field :amount, {:class => 'amount_class'} %>
    	  <%= form.submit %>
    	</div>
    	<% end %>
    </td>
  </tr>
