<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag "/uploads/#{@place.image}", size: '100' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
